{% load static %}  <!-- Cargar etiquetas de archivos estáticos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gráfico Plotly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            background-image: url("{% static 'report/familyPokemon.png' %}"); /* Ruta de la imagen de fondo */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.5); /* Color blanco traslúcido */
            border-radius: 10px;
            padding: 20px;
        }

        #plot_div {
            background-color: rgba(255, 255, 255, 0.8); /* Color blanco traslúcido para el gráfico */
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 20px;
        }

        .card-body {
            font-weight: bold; /* Texto en negrita */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">Gráfico Plotly</h1>
                <div id="plot_div" class="card">
                    <div class="card-body">
                        {{ plot_div|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
